<div class="login">
  <p>Пожалуйста, введите Github PAT(Personal access token)</p>

  <form class='form' [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field appearance="outline">
      <mat-label>Github token</mat-label>
      <input
        id="token"
        type="text"
        autocomplete="off"
        matInput
        [formControlName]="'token'"
        [errorStateMatcher]='matcher'
      >
      <mat-error *ngIf="hasError">
        token is required
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]='hasError || isEmptyForm'>Сохранить токен</button>
  </form>
</div>
